/* Placeholder file for your custom settings. */
/* You can get the color scheme variables from https://panr.github.io/terminal-css/ */
:root {
  --background: #0b0c2d;
  --foreground: #ece8fc;
  --accent: #b399ff;
}

@media (max-width: 684px) {
    .menu--mobile .menu__dropdown {
        left: auto;
        right: 0px;
        min-width: 15em;
    }
}